body {
  margin: 0;
}

main {
  padding: 20px;
}
footer {
  padding: 10px;
  background: #333;
  color: #fff;
  font-size: 12px;
}

.header-img {
  width: 100%;
  height: 400px;
  background: url('http://www.kodhus.com/freecourse-images/header-image.jpg');
  background-size: cover;
}

.menu {
  float: center;
}
.menu ul {
  list-style: none;
  margin: 8px;
  padding: 0
}
.menu li {
  display: inline-block;
  padding: 0 20px;
}
.menu a {
  text-decoration: none;
  color: #333;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Lato';
}
.menu a:hover {
  text-decoration: underline;
}
